
{% extends "base2.html.twig" %}
    {% block javascripts %}
        <!-- <script src="{{ asset('JS/funcionesMesa.js') }}" type="text/javascript"></script>
        <script src="{{ asset('JS/mesa.js') }}" type="text/javascript"></script>
        <script src="{{ asset('JS/mio2.js') }}" type="text/javascript"></script>
        <script src="{{ asset('JS/reserva.js') }}" type="text/javascript"></script> -->
        
        <script src="{{ asset('JS/mio2.js') }}" type="text/javascript"></script>
        <script src="{{ asset('JS/mesa.js') }}" type="text/javascript"></script>
        <script src="{{ asset('JS/funcionesReserva.js') }}" type="text/javascript"></script>
        <script src="{{ asset('JS/reserva2.js') }}" type="text/javascript"></script>
    {% endblock %}
    {% block body %}
    <div class="contenedor">
        <div class="sala"><p>Sala</p></div>

        <div class="c-contentForm formreserva">
            <h2 class="text-primary text-uppercase mt-2">Reservar</h2>
            <form class="ms-5" action="{{ path('app_listado_reservas') }}" id="form_reserva">
                <div class="row g-6">
                    <div class="col-md-13">
                        <label id="errorFecha" class="text-danger mt-2 mb-2"></label>
                        <div class="form-floating">
                            <input type="text" id="desde" class="form-control" placeholder="Fecha">
                            <label for="desde">Fecha</label>
                        </div>
                        <label id="errorHora" class="text-danger mt-2 mb-2"></label>
                        <div class="form-floating">
                            <select id="tramo" class="form-control" placeholder="Hora">
                                <option>Seleccione un tamo horario</option>
                                {% for tramo in tramos %}
                                    <option>{{tramo.getIncio()}} : {{tramo.getFin()}}</option>
                                {% endfor %}
                            </select> 
                            <label for="tramo">Hora </label>
                        </div>
                        <label id="errorJugadores" class="text-danger mt-2 mb-2"></label>
                        <div class="form-floating">
                            <input type="number" id="jugadores" class="form-control" placeholder="Numero de jugadores">
                            <label for="jugadores">Numero de jugadores</label>
                        </div>
                        <label id="errorJuegos" class="text-danger mt-2 mb-2"></label>
                        <div class="form-floating">
                            <select id="juegos" class="form-control" placeholder="Juego">
                                <option>Seleccione un juego</option>
                                {% for juego in juegos %}
                                    <option>{{juego.Nombre}}</option>
                                {% endfor %}
                            </select> 
                            <label for="Juegos">Juego </label>
                        </div>
                        <label id="errorMesa" class="text-danger mt-2 mb-2"></label>
                        <div class="form-floating">
                            <input type="text" id="idMesa" class="form-control" placeholder="Seleccione la mesa">
                            <label for="idMesa">Seleccione la mesa</label>
                        </div>
                        <br>
                        <button class="btn btn-primary w-100 py-3 mb-3" type="submit" id="reserva">Completar Reserva</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% endblock %}
