{% extends 'base2.html.twig' %}

{% block body %}
    <div class="c-contentForm">
        <h2 class="text-primary text-uppercase mt-5">Edita el juego</h2>
        {{ form_start(form,{'attr' : {'class': 'centraFormulario'}}) }}
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="form-floating mb-4">
                        {{ form_row(form.nombre,{'attr' : {'class': 'form-control', 'placeholder':'Nombre'},label:'Nombre'}) }}
                    </div>
                    <div class="form-floating mb-4">
                        {{ form_row(form.editorial,{'attr' : {'class': 'form-control','placeholder':'Editorial'},label:"Editorial"}) }}
                    </div>
                    <div class="row">
                        <div class="form-floating mb-4 col">
                            {{ form_row(form.ancho,{'attr' : {'class': 'form-control','placeholder':'Ancho'},label:'Ancho'}) }}
                        </div>

                        <div class="form-floating mb-4 col">
                            {{ form_row(form.alto,{'attr' : {'class': 'form-control','placeholder':'Alto'},label:'Alto'}) }}
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-floating mb-4 col">
                            {{ form_row(form.jugadores_min,{'attr' : {'class': 'form-control','placeholder':'Minimo de Jugadores'},label:'Minimo de Jugadores'}) }}
                        </div>

                        <div class="form-floating mb-4 col">
                            {{ form_row(form.jugadores_max,{'attr' : {'class': 'form-control','placeholder':'Máximo de Jugadores'},label:'Máximo de Jugadores'}) }}
                        </div>
                    </div>
                    <label>Imagen</label>
                    <div class="form-floating mb-4">                        
                        <p>¿Desea eliminar la imagen?</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="Si" name="eliminar_imagen" value="Si">
                            <label class="form-check-label" for="Si">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="No" name="eliminar_imagen" value="No" checked>
                            <label class="form-check-label" for="No">No</label>
                        </div><br>
                        <small>Esto dejara al juego sin imagen</small><br>
                        <img src="../{{juego.img}}" class="c-imagen c-imagen--juegos"></img>

                        {{ form_row(form.img,{'attr' : {'class': 'form-control','placeholder':'Contraseña'}}) }}
                    </div>
                    <div class="row">
                        <div class="form-floating mb-4 col">
                            <a href="{{path('app_listado_juegos')}}"><input class="btn btn-secondary w-100 py-3" value="Salir"></input></a>
                        </div>
                        <div class="form-floating mb-4 col">
                            {{ form_row(form.save,{'attr' : {'class': 'btn btn-primary w-100 py-3'}, label:"Guardar"})}}
                        </div>
                    </div>
                    
                </div>
            </div>
        {{ form_end(form) }}
    </div>

    {# {{dump()}} #}
{% endblock %}