
{% extends "base2.html.twig" %}
    {% block javascripts %}
        <script src="{{ asset('JS/modalEliminar.js') }}" type="text/javascript"></script>

    {% endblock %}
    {% block body %}

    <div id="juego" class=" mt-4">
        <h3 class="text-primary mb-4 ms-5">Mantenimiento de Juegos</h3>
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">{{ flashMessage }}</div>
        {% endfor %}
<a href="{{path("app_crea_juego")}}"><button type="button" class="btn btn-primary mb-3 ms-btn__newJuego" id=""><i class="fa fa-plus"></i> Nuevo Juego</button> </a>

        <table class=" table table-hover table-bordered table-condensed miTabla w-75">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Editorial</th>
                    <th>Ancho</th>
                    <th>Alto</th>
                    <th>Jugadores min</th>
                    <th>Jugadores max</th>
                    <th>Imagen</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for juego in juegos %}
                    <tr>
                        <td>{{ juego.nombre }}</td>
                        <td>{{ juego.editorial }}</td>
                        <td>{{ juego.Ancho }}</td>
                        <td>{{ juego.Alto }}</td>
                        <td>{{ juego.getJugadoresMin() }}</td>
                        <td>{{ juego.getJugadoresMax() }}</td>

                        {% if juego.img %}
                            <td><img src="{{juego.img}}" class="c-imagen c-imagen--juegos" ></img></td>
                        {% else %}
                            <td>Sin imagen</td>
                        {% endif %}
                         
                        <td>
                            <a href="/editaJuegos/{{juego.id}}"><button type="button" class="btn btn-primary editar ps-3 pe-3 mb-3" id="{{juego.id}}"><i class="fa fa-edit"></i>  Editar</button></a> 
                            <button type="button" class="btn btn-danger eliminar mb-3" id="{{juego.id}}"><i class="fa fa-trash"></i>  Eliminar</button> 
                            {# <a href="{{ path('app_home') }}"><i class="fa fa-edit" style="font-size:24px" data-toggle="modal" data-target="#Edit{{juego.id}}"></i></a>
                            <a href=""><i class="fa fa-trash" style="font-size:24px"  data-toggle="modal" data-target="#Delete{{juego.id}}"></i></a> #}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(juegos) }}
        </div>



    </div>

    {% endblock %}
