{% extends 'base2.html.twig' %}
    {% block body %}

    
    <div class="c-contentForm">
        <h2 class="text-primary text-uppercase mt-5">Crea Evento nuevo</h2>
        {{ form_start(form,{'attr' : {'class': 'centraFormulario'}}) }}
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="row mb-3">
                        <div class="form-floating col">
                            {{ form_row(form.Nombre,{'attr' : {'class': 'form-control', 'placeholder':'Nombre'},label:'Nombre'}) }}
                        </div>
                        <div class="form-floating col">
                            {{ form_row(form.fecha,{'attr' : {'class': 'form-control','placeholder':'Fecha'},label:'Fecha'}) }}
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        {{ form_row(form.Descripcion,{'attr' : {'class': 'form-control','placeholder':'Descripcion'},label:"Descripcion"}) }}
                    </div>

                    <div class="form-floating mb-3">
                        {{ form_row(form.img,{'attr' : {'class': 'form-control','placeholder':'Apellido 2'},label:'Seleccione una imagen'}) }}
                    </div>

                    <div class="row">
                        <div class="form-floating mb-4 col">
                            <a href="{{path('app_mantenimiento_evento')}}"><input class="btn btn-secondary w-100 py-3" value="Salir"></input></a>
                        </div>
                        <div class="form-floating mb-4 col">
                            {{ form_row(form.save,{'attr' : {'class': 'btn btn-primary w-100 py-3'},'label':'Nuevo Evento'})}}
                        </div>

                        {# <button type="submit" id="evento_save" name="evento[save]" class="btn btn-primary w-100 py-3 col">Editar Juego</button> #}
                    </div>
                </div>
            </div>
        {{ form_end(form) }} 
    </div>


    {% endblock %}
