
{% extends "base2.html.twig" %}
    {% block javascripts %}


    {% endblock %}
    {% block body %}
    <form action="/invitaUsu/{{evento.id}}" method="post">
    <div id="juego" class=" mt-4">

        <h3 class="text-primary mb-4 ms-5">Invitar usuarios</h3>
        <table class=" table table-hover table-bordered table-condensed miTabla">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Primer apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Email</th>
                    <th>Numero telegram</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for u in user %}
                    <tr>
                        <td>{{ u.nombre }} </td>
                        <td>{{ u.apellido1 }}</td>
                        <td>{{ u.apellido2 }}</td> 
                        <td>{{ u.email }}</td> 
                        <td>{{ u.getIdTelegram() }}</td>
                        {# <td>
                            
                            {% for p in participaciones %}
                                {% if u == p.user %}
                                    <label class="me-2">Invitar</label><input type="checkbox" id="cbox`{{u.id}}" name="usus[]" value="{{u.id}}" checked>
   }
                                {% else %}
                                    <label class="me-2">Invitar</label><input type="checkbox" id="cbox`{{u.id}}" name="usus[]" value="{{u.id}}" >
                                {% endif %}
                            {% endfor %}
                        </td> #}
                        <td>
                            {% set found = false %}
                            {% for p in participaciones %}
                                {% if u == p.user %}
                                    {% set found = true %}
                                    <label class="me-2">Invitar</label><input type="checkbox" id="cbox`{{u.id}}" name="usus[]" value="{{u.id}}" checked>
                                {% endif %}
                            {% endfor %}
                            {% if not found %}
                                <label class="me-2">Invitar</label><input type="checkbox" id="cbox`{{u.id}}" name="usus[]" value="{{u.id}}" >
                            {% endif %}
                        </td>
 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {# <div class="navigation">
        {{ knp_pagination_render(user) }}
    </div> #}

    {# <button type="submit">EEE</button> #}
    
            {{ form_start(form,{'attr' : {'class': 'centraFormulario'}}) }}
        {{ form_end(form) }}
    {% endblock %}
