
{% extends "base2.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('CSS/responsiveEditaJuego.css') }}" rel="stylesheet">
{% endblock %}
    {% block body %}
    <div class="c-contentForm">
    <form action="/invitaUsu/{{evento.id}}" method="post">
    <div id="juego" class=" mt-4">

        <h3 class="text-primary mb-4 ms-5">Invitar usuarios</h3>
        <table class=" table table-hover table-bordered table-condensed miTabla">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Primer apellido</th>
                    <th class="ocultar-col2">Segundo Apellido</th>
                    <th>Email</th>
                    <th class="ocultar-col">Numero telegram</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for u in user %}
                    <tr>
                        <td>{{ u.nombre }} </td>
                        <td>{{ u.apellido1 }}</td>
                        <td class="ocultar-col2">{{ u.apellido2 }}</td> 
                        <td>{{ u.email }}</td> 
                        <td class="ocultar-col">{{ u.getIdTelegram() }}</td>
                        {# <td>
                            
                            {% for p in participaciones %}
                                {% if u == p.user %}
                                    <label class="me-2">Invitar</label><input type="checkbox" id="cbox`{{u.id}}" name="usus[]" value="{{u.id}}" checked>
   }
                                {% else %}
                                    <label class="me-2">Invitar</label><input type="checkbox" id="cbox`{{u.id}}" name="usus[]" value="{{u.id}}" >
                                {% endif %}
                            {% endfor %}
                        </td> #}
                        <td>
                            {% set found = false %}
                            {% for p in participaciones %}
                                {% if u == p.user %}
                                    {% set found = true %}
                                    <label class="me-2">Invitar</label><input type="checkbox" id="cbox`{{u.id}}" name="usus[]" value="{{u.id}}" checked>
                                {% endif %}
                            {% endfor %}
                            {% if not found %}
                                <label class="me-2">Invitar</label><input type="checkbox" id="cbox`{{u.id}}" name="usus[]" value="{{u.id}}" >
                            {% endif %}
                        </td>
 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {# <div class="navigation">
        {{ knp_pagination_render(user) }}
    </div> #}

    {# <button type="submit">EEE</button> #}
    
        {{ form_start(form,{'attr' : {'class': 'centraFormulario'}}) }}
            <div class="row g-3 form-invita">
                <div class="col-md-6">
                    <div class="row mt-3">
                        <div class="form-floating mb-4 col">
                            <a href="{{path('app_mantenimiento_evento')}}"><input class="btn btn-secondary w-100 py-3" value="Salir"></input></a>
                        </div>
                        <div class="form-floating mb-4 col">
                            {{ form_row(form.save,{'attr' : {'class': 'btn btn-primary w-100 py-3'},label:"Guardar"})}}
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
    {% endblock %}
