
{% extends "base2.html.twig" %}
    {% block javascripts %}
        <script src="{{ asset('JS/modalEliminar.js') }}" type="text/javascript"></script>

    {% endblock %}
    {% block body %}

    <div id="juego" class=" mt-4">

        <h3 class="text-primary mb-4 ms-5">Eventos</h3>
        <table class=" table table-hover table-bordered table-condensed miTabla">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Imagen</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for e in evento %}
                    <tr>
                        <td>{{ e.nombre }}</td>
                        <td>{{ e.descripcion }}</td>
                        {% if e.img %}
                            <td><img src="../{{e.img}}" class="c-imagen c-imagen--juegos" ></img></td>
                        {% else %}
                            <td>Sin imagen</td>
                        {% endif %}
                        
                        <td>{{ e.fecha|date("d/m/Y") }}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>




    </div>

    {% endblock %}
